<li>

    <h1>Home</h1>
    <ul>
        <li class="main-c content-b">
            <div>
                <div>
                    <label class="lab-title">Name</label>
                    <label class="lab-cont"><%= data.ownerName %></label>
                </div>
                <div>
                    <label class="lab-title">About Me</label>
                    <label class="lab-cont"><%= data.ownerInfo %></label>
                </div>
            </div>
            <div class="edit-buttons">
                <a href="/admin/home_edit" id="edit-main" class="media-icon"><img src="/media/images/icons/Edit.svg" alt="Edit"></a>
        </li>
    </div> 
    </ul>
    
</li>