/* Body */
body {
    background: rgb(226,151,0);
    background: linear-gradient(15deg, rgb(3, 134, 157) 0%, rgb(14, 14, 14) 20%, rgb(14, 14, 14) 88%, rgb(4, 150, 146) 100%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

/* Navbar */
header nav ul li a.nav-active {
    color: #1dcab9;
    text-shadow: 0 0.08ch 1ch rgb(53, 186, 203);
}

/* Main */
main {
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 20ch 4% 5% 4%;
    z-index: 1;
}

/* Canvas */
main canvas#canv {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
}

/* List */
main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
}

main ul li {
    display: block;
    margin: 2em auto;
    width: 100%;
    height: min-content;
    border-radius: 4ch;
    background: radial-gradient(rgba(30, 30, 30, 0.42) 90%, rgb(0, 217, 228) 100%);
    box-shadow: 0px 2px 20px 2px #000000;
}

/* 3d viewport */
main ul li span.viewport-3d {
    display: inline-block;
    height: 60ch;
    width: 60ch;
}

/* Info */
main ul li div.info {
    display: block;
    width: 80ch;
    height: 30em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12ch;
    text-overflow: clip;
    border-radius: 3ch;
    backdrop-filter: blur(8ch);
}

main ul li div.info div#pos-n {
    color: rgb(224, 224, 224);
    font-size: 5ch;
    padding: 0;
    height: min-content;
}

main ul li div.info div#workp-n {
    color: rgb(167, 167, 167);
    font-size: 3ch;
    padding: 0;
    height: min-content;
    margin-bottom: 3ch;
}

main ul li div.info div#i {
    color: rgb(195, 195, 195);
    font-size: 2ch;
    padding: 0;
    height: min-content;
}

main ul li div.info div#date {
    color: rgb(211, 211, 211);
    font-size: 3ch;
    padding: 0;
    height: min-content;
    margin-top: 3ch;
}

/* Float */
.right { float: right; text-align: left; }

.left { float: left; text-align: right;}